<% include partials/header-top-half.ejs %>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<% include partials/header-bottom-half.ejs %>
<div class="container dash-wrapper">
	<div id="timeline" style="height: 600px;"/>
</div>

<script type="text/javascript">
    google.charts.load('current', {packages: ['corechart','timeline']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
		var container = document.getElementById('timeline');
        var chart = new google.visualization.Timeline(container);
        var dataTable = new google.visualization.DataTable();

        dataTable.addColumn({ type: 'string', id: 'IT' });
        dataTable.addColumn({ type: 'date', id: 'Start' });
        dataTable.addColumn({ type: 'date', id: 'End' });
        dataTable.addRows([
        	<% let prev_time = new Date(); 
        	tag_history.rows.forEach((tag, index) => {
        		if (index > 0) {
        			let tag_time = tag.tag_time;

        			let year = tag_time.getFullYear();
        			let month = tag_time.getMonth();
        			let day = tag_time.getDate();
        			let hour = tag_time.getHours();
        			let minute = tag_time.getMinutes();
        			let second = tag_time.getSeconds();

        			let prev_year = prev_time.getFullYear();
        			let prev_month = prev_time.getMonth();
        			let prev_day = prev_time.getDate();
        			let prev_hour = prev_time.getHours();
        			let prev_minute = prev_time.getMinutes();
        			let prev_second = prev_time.getSeconds();
        		%>
        ['<%= tag.tagger_first_name %> <%= tag.tagger_last_name %>', new Date(<%= prev_year %>, <%= prev_month %>, <%= prev_day %>, <%= prev_hour %>, <%= prev_minute %>, <%= prev_second %>), new Date(<%= year %>, <%= month %>, <%= day %>, <%= hour %>, <%= minute %>, <%= second %>) ],
        <% 	};
        	prev_time = tag.tag_time;
    	}); %>
        ]);

        var options = {
        	timeline: {singleColor: '#506C64'},
        };

        chart.draw(dataTable, options);
    }
  </script>

<% include partials/footer.ejs%>