<% include partials/header-top-half.ejs %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<% include partials/header-bottom-half.ejs %>
<div class="container-fluid dash-wrapper">
    <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="grid"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="row mx-sm-auto">
	       <div id="timeline" class="chart" style="height: 520px;"/>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md">
                    <div class="table-responsive-md">
                        <table class="table table-hovered table-responsive-md table-striped shadow">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" style="width:10% !important">Rank</th>
                                    <th scope="col" style="width:55% !important">Player</th>
                                    <th scope="col" class="text-right" style="width:35% !important">Total Time as IT</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% longest_time.rows.forEach((it,index) => { %>
                                <tr>
                                    <td><%= index + 1 %></td>
                                    <th scope="row"><%= it.first_name %> <%= it.last_name %></td>
                                        <% 
                                        const it_duration = moment.duration(it.time_as_it, 'seconds');
                                        var time_it_str = '';
                                        if (it_duration.days() >= 2) {
                                            time_it_str += it_duration.days() + ' Days, '
                                        } else if (it_duration.days()) {
                                            time_it_str += it_duration.days() + ' Day, '
                                        }
                                        it_duration.subtract(it_duration.days(),'d');
                                        time_it_str += moment().startOf('day').seconds(it_duration.asSeconds()).format('HH:mm:ss');
                                        %>
                                    <td class="text-right"><%= time_it_str %></td>
                                </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md">
                    <div class="table-responsive-md">
                        <table class="table table-hovered table-responsive-md table-striped shadow">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" style="width:10% !important">Rank</th>
                                    <th scope="col" style="width:55% !important">Player</th>
                                    <th scope="col" class="text-right" style="width:35% !important">Average Time as IT</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% shortest_avg.rows.forEach((it,index) => { %>
                                <tr>
                                    <td><%= index + 1 %></td>
                                    <th scope="row"><%= it.first_name %> <%= it.last_name %></td>
                                        <% 
                                        const avg_it_duration = moment.duration(it.avg_time_as_it, 'seconds');
                                        var time_it_str = '';
                                        if (avg_it_duration.days() >= 2) {
                                            time_it_str += avg_it_duration.days() + ' Days, '
                                        } else if (avg_it_duration.days()) {
                                            time_it_str += avg_it_duration.days() + ' Day, '
                                        }
                                        avg_it_duration.subtract(avg_it_duration.days(),'d');
                                        time_it_str += moment().startOf('day').seconds(avg_it_duration.asSeconds()).format('HH:mm:ss');
                                        %>
                                    <td class="text-right"><%= time_it_str %></td>
                                </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md">
                    <div class="table-responsive-md">
                        <table class="table table-hovered table-responsive-md table-striped shadow">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" style="width:10% !important">Rank</th>
                                    <th scope="col" style="width:55% !important">Player</th>
                                    <th scope="col" class="text-right" style="width:35% !important">Times Tagged</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% most_tags.rows.forEach((it,index) => { %>
                                <tr>
                                    <td><%= index + 1 %></td>
                                    <th scope="row"><%= it.first_name %> <%= it.last_name %></td>
                                    <td class="text-right"><%= Math.round(it.number_of_its) %></td>
                                </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</div>

<script type="text/javascript">
    google.charts.load('current', {packages: ['corechart','timeline']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
		var container = document.getElementById('timeline');
        var chart = new google.visualization.Timeline(container);
        var dataTable = new google.visualization.DataTable();
        console.log(new Date());

        dataTable.addColumn({ type: 'string', id: 'IT' });
        dataTable.addColumn({ type: 'string', id: 'dummy bar label' });
        dataTable.addColumn({ type: 'string', role: 'tooltip', 'p': {'html': true} });
        dataTable.addColumn({ type: 'date', id: 'Start' });
        dataTable.addColumn({ type: 'date', id: 'End' });
        dataTable.addRows([
        	<% let prev_time = new Date(); 
        	tag_history.rows.forEach((tag, index) => {
        		if (index > 0) {
        			let tag_time = tag.tag_time;

        			let year = tag_time.getFullYear();
        			let month = tag_time.getMonth();
        			let day = tag_time.getDate();
        			let hour = tag_time.getHours() - 4;
        			let minute = tag_time.getMinutes();
        			let second = tag_time.getSeconds();

        			let prev_year = prev_time.getFullYear();
        			let prev_month = prev_time.getMonth();
        			let prev_day = prev_time.getDate();
        			let prev_hour = prev_time.getHours() - 4;
        			let prev_minute = prev_time.getMinutes();
        			let prev_second = prev_time.getSeconds();
        		%>
        ['<%= tag.tagger_first_name %> <%= tag.tagger_last_name %>', ' ', genTooltip(new Date(<%= prev_year %>, <%= prev_month %>, <%= prev_day %>, <%= prev_hour %>, <%= prev_minute %>, <%= prev_second %>),new Date(<%= year %>, <%= month %>, <%= day %>, <%= hour %>, <%= minute %>, <%= second %>), '<%= tag.prev_tagger_first_name %> <%= tag.prev_tagger_last_name %>','<%= tag.tagee_first_name %> <%= tag.tagee_last_name %>'), new Date(<%= prev_year %>, <%= prev_month %>, <%= prev_day %>, <%= prev_hour %>, <%= prev_minute %>, <%= prev_second %>), new Date(<%= year %>, <%= month %>, <%= day %>, <%= hour %>, <%= minute %>, <%= second %>) ],
        <% 	};
        	prev_time = tag.tag_time;
    	}); %>

        ]);

        var options = {
        	timeline: {singleColor: '#5B69FD'},
            tooltip: { isHtml: true },
        };

        function genTooltip(startDate, endDate, tagged_by, tagged) {
            var diff = Math.round((endDate-startDate)/1000);
            
            var days = Math.floor(diff/(24*60*60));
            diff = diff-(days*24*60*60);
            var hours = Math.floor(diff/(60*60));
            diff = diff-(hours*60*60);
            var minutes = Math.floor(diff/(60));

            return '<p>&nbsp' + (days > 0 ? days + ' Day' + (days !== 1 ? 's, ':', ') : '') + (hours > 0 ? hours + ' Hour' + (hours !== 1 ? 's, ':', ') : '') + minutes + ' Minute' + (minutes !== 1 ? 's':'') + ' &nbsp<br>&nbspTagged By: ' + tagged_by + ' &nbsp<br>&nbspTagged: ' + tagged + '<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp';
        }

        chart.draw(dataTable, options);
    }

    $(window).resize(function(){
        drawChart();
    });
  </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script>
    feather.replace();
</script>

<% include partials/footer.ejs%>