<% include partials/header.ejs %>
    <div class="container jumbotron text-center text-wrap">
        <div class="unselectable">
            <img src="/assets/img/<%= player.tagee_image %>" class="rounded-circle it-img" alt="IT">
            <% if (typeof user != "undefined" && user.preferred_username == player.tagee_email_address) { %>
                <h1 class="font-weight-bolder display-4">YOU</h1>
                <h1>have been <span class="display-5 font-weight-bold">IT</span> for</h1>
            <% } else {%>
            <h1 class="font-weight-bolder display-4"><%= player.tagee_first_name %> <%= player.tagee_last_name %></h1>
            <h1>has been <span class="display-5 font-weight-bold">IT</span> for</h1>
            <% } %>
            <% startStamp = player.tag_time.getTime(); %>
            <h1 id="strTime" class="font-weight-bold">
            <script>
                // Set the date we're counting up from
                var startStamp = new Date("<%= player.tag_time %>").getTime();
                var x = setInterval(updateTime, 1000);

                // Update the count down every 1 second
                function updateTime() {

                // Get todays date and time
                var now = new Date().getTime();

                // Find the distance between now and the count down date
                var diff = Math.round((now - startStamp)/1000);

                // Time calculations for days, hours, minutes and seconds
                var days = Math.floor(diff/(24*60*60));
                diff = diff-(days*24*60*60);
                var hours = Math.floor(diff/(60*60));
                diff = diff-(hours*60*60);
                var minutes = Math.floor(diff/(60));
                diff = diff-(minutes*60);
                var seconds = diff;

                // Output the result in an element with id="demo"
                document.getElementById("strTime").innerHTML = days + " Day" + (days !== 1 ? "s, " : ", ") + hours + " Hour" + (hours !== 1 ? "s, " : ", ") + minutes + " Minute" + (minutes !== 1 ? "s, " : ", ") + " and " + seconds + " Second" + (seconds !== 1 ? "s" : "");
                }

                updateTime();
            </script>
            <noscript>
                <%
                    newDate = new Date();
                    newStamp = newDate.getTime();
                    var diff = Math.round((newStamp-startStamp)/1000);
                    
                    var days = Math.floor(diff/(24*60*60));
                    diff = diff-(days*24*60*60);
                    var hours = Math.floor(diff/(60*60));
                    diff = diff-(hours*60*60);
                    var minutes = Math.floor(diff/(60));
                    diff = diff-(minutes*60);
                    var seconds = diff;
                %>
                <%= days %> Day<%if (days !== 1) {%>s<%}%>, <%= hours %> Hour<%if (hours !== 1) {%>s<%}%>, <%= minutes %> Minute<%if (minutes !== 1)  {%>s<%}%>, and <%= seconds %> Second<%if (seconds !== 1) {%>s<%}%>
            </noscript>
            </h1>
            <br>
        </div>
        <% if (typeof user != "undefined" && (user.preferred_username.toLowerCase() == player.tagee_email_address.toLowerCase() || user.preferred_username.toLowerCase() == process.env.ADMIN_EMAIL.toLowerCase())) { %>
            <a href="/tag" class="btn btn-lg btn-danger">Tag Someone</a>
        <% } %>
    </div>
    <div class="container">
        <h3 class="text-center pt-3 pb-3 mb-4 border-top border-bottom">Tag History</h3>
        <div class="table-responsive-md">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" style="width:17% !important">Tagger</th>
                        <th scope="col" style="width:17% !important">Tagee</th>
                        <th scope="col" style="width:20% !important">Tag Time</th>
                        <th scope="col" class="d-none d-sm-table-cell">Message</th>
                    </tr>
                </thead>
                <tbody>
                    <% hist.rows.forEach((tag,index) => { %>
                    <tr>
                        <td><%= tag.tagger_first_name %> <%= tag.tagger_last_name %></th>
                        <th scope="row"><%= tag.tagee_first_name %> <%= tag.tagee_last_name %></td>
                        <%  var date = new Date(tag.tag_time);
                            date.setHours(date.getUTCHours() - 4);
                            var year = date.getUTCFullYear();
                            var month = date.getUTCMonth() + 1; // getMonth() is zero-indexed, so we'll increment to get the correct month number
                            var day = date.getUTCDate();
                            var hours = date.getUTCHours();
                            var minutes = date.getUTCMinutes();
                            var seconds = date.getUTCSeconds();

                            hours = (hours == 0) ? '12' : hours;
                            ampm = (hours < 12) ? 'AM' : 'PM';
                            hours = (hours > 12) ? hours - 12 : hours;
                            minutes = (minutes < 10) ? '0' + minutes : minutes;
                            seconds = (seconds < 10) ? '0' + seconds: seconds;

                            var strTime = month + "/" + day + "/" + year + " - " + hours + ":" + minutes + ":" + seconds + " " + ampm ;
                        %>
                        <td><%= strTime %></td>
                        <td class="d-none d-sm-table-cell"><%= tag.tag_message %></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
<% include partials/footer.ejs %>
