<!doctype html>
<html lang="en">
	<body>
		<p><%=tagee_first_name%> <%=tagee_last_name%> was tagged by 
			<%=tagger_first_name%> <%=tagger_last_name%> at 
			<%=hours%>:<%=minutes%>:<%=seconds%> <%=ampm%> EST on 
			<%=month%>/<%=day%>/<%=year%>.</p>
		<h3>Message:</h3>
		<p><%=tag_message%></p>
	</body>
</html>