<% include partials/header.ejs %>
    <div class="table-wrapper container">
        <% if (players.rows.length > 0) {%>
            <table class="table table-hovered table-responsive-md table-striped shadow" style="width:auto !important; margin: 0 auto">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" style="width:10% !important">Image</th>
                        <th scope="col" style="width:30% !important">Name</th>
                        <th scope="col" style="width:15% !important">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% players.rows.forEach((player, index) => { %>
                        <tr>
                            <td><img src="/assets/img/<%= player.image %>" class="rounded-circle player-img" alt=""></td>
                            <td><%= player.first_name %> <%= player.last_name %></td>
                            <td><button type="submit" class="btn btn-outline-primary" data-toggle="modal" data-target="#tagModal" data-tagee="<%= player.id %>" data-tageeName="<%= player.first_name %> <%= player.last_name %>">Tag</button>
                            </td>
                        </tr>
                    <% }) %>
                    <tr><td colspan="3" class="text-center"><a href="/players/add" class="btn btn-lg btn-secondary">Add a New Player</a></td></tr>
                </tbody>
            </table>
        <% } else { %>
            <p class="text-center">No eligible players found. Go <a href="/players/add" >here</a> to add players.</p>
        <% } %>
    </div>
</div>
<div class="modal fade" id="tagModal" tabindex="-1" role="dialog" aria-labelledby="tagModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tagModalLabel">Tag a Player</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="tag-form" action='' method="post">
          <input type="text" class="form-control" name="tagee_id" id="tagee-id" required readonly hidden>
          <div class="form-group">
            <label for="tagee-name" class="col-form-label">Tagee Name:</label>
            <input type="text" class="form-control" name="tagee_name" id="tagee-name" required readonly>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" name="message_text" id="message-text"></textarea>
          </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="submit" form="tag-form" class="btn btn-primary">Submit Tag</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

<% include partials/footer.ejs %>